################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Zelda/FileContentIndex/1ab1d1b4-7825-4c03-9fbd-745f307eff30.vsidx
/.vs/Zelda/FileContentIndex/367bb8ba-29a2-498d-a633-ecf969d2cc69.vsidx
/.vs/Zelda/FileContentIndex/86de085c-8f97-4944-ae75-eb56ef4147ec.vsidx
/.vs/Zelda/FileContentIndex/ad859015-5d44-4bc1-b32f-48a219d155c5.vsidx
/.vs/Zelda/FileContentIndex/f7eb3cd7-57be-4742-880e-62575a95ac92.vsidx
